<div class="container-fluid">
  <div class="logo_container">
    <img src="../../../../assets/images/logo_white.png">
  </div>
  <div class="row">
    <div class="col-sm-6 lt_cont">
      <h3 class="h3">Do you own a business?<br><span class="pay">Pay</span><span class="voo">Voo</span> is your trusted
        partner</h3>
      <ul class="pv_features list-styled">
        <li>
          <h4 class="heading">Multi-value funds management</h4>
          <p>You can accept multi-value payments for your business (also from non-PayVoo users). You can also hold
            multi-value funds.</p>
        </li>
        <li>
          <h4 class="heading">Comfortable payments</h4>
          <p>With PayVoo, you'll get a lot of options to manage your funds, like receive payments from your customers, convert funds, make and receive direct payments.</p>
        </li>
        <li>
          <h4 class="heading">Use it as you want</h4>
          <p>As a retail client of PayVoo, you have no limits of users and incoming funds per month. You can also get physical payment card connected to your account.</p>
        </li>
        <li>
          <h4 class="heading">Build relations with your customers</h4>
          <p>You can use this PayVoo to grant them various refunds. That's how it can become a bridge connecting your business with the people.</p>
        </li>
      </ul>
      <button class="btn btn-primary" (click)="busingessRegForm()">Continue</button>
    </div>
    <div class="col-sm-6 rt_bg_img bg_img_1">
    </div>
  </div>
</div> 

