<header id="header">
    <div class="container">
        <a class="main-logo" href="index.html">
            <img src="../../../../../assets/images/main-logo.png" alt="">
        </a>

        <div class="switcher">
            <ul>
                <li><a (click)="Individual()" class="anchor cursor_pointer">Individual</a></li>
                <li><a (click)="business()" class="anchor cursor_pointer">Business</a></li>
            </ul>
        </div>

        <nav class="main-menu">
            <ul>
                <li><a href="#choose-card" class="anchor">Cards</a></li>
                <li class="dropdown">
                    <a href="">EN</a>

                    <ul class="sub-menu">
                        <li><a href="">PL</a></li>
                        <li><a href="">RU</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>

<section id="privacy-policy">
    <div class="container">

        <div class="wysiwyg">
            <h1>Privacy Policy and “Cookies” <br /> Policy of the PayVoo</h1>
            <p><strong>Privacy policy in the company under the following name:</strong></p>
            <p>
                Pay Voo UAB, Didzio ji str.18, Vilnius, Vilnius district, company no. 3305190898, entered into the
                Register of Entrepreneurs kept by District Court of the city of Warsaw in Warsaw XII Commercial Division
                of National Court Register KRS No.: 0000714535, REGON: 369303482, NIP: 7010797819<br />
                This Privacy Policy sets forth the principles of personal data processing and the terms and conditions
                of Users’ confidentiality of the Web Service We ensure that any and all information pertaining to the
                Users of our Service is used pursuant to the effective legislation.
                Glossary:
            </p>

            <ol>
                <li>Pay Voo UAB, Didzio ji str.18, Vilnius, Vilnius district, company no. 3305190898, entered into the
                    Register of Entrepreneurs kept by District Court of the city of Warsaw in Warsaw XII Commercial
                    Division of National Court Register KRS No.: 0000714535, REGON: 369303482, NIP: 7010797819</li>
                <li>GDPR – General Data Protection Regulation – Regulation (EU) 2016/679 of 27 April 2016 of the
                    European Parliament and of the Council on the Protection of Natural Persons with Regard to the
                    Processing of Personal Data and on the Free Movement of Such Data, and Repealing Directive 95/46/EC
                    (General Data Protection Regulation).</li>
                <li>Personal data – information on the identified or identifiable natural person</li>
                <li>Processing – operation or set of operations which is performed on personal data or on sets of
                    personal data, whether or not by automated means, such as collection, recording, organisation,
                    structuring, storage, adaptation or alteration, retrieval, consultation, use, disclosure by
                    transmission, dissemination or otherwise making available, alignment or combination, restriction,
                    erasure or destruction.</li>
                <li>User – every natural person visiting a Service or using one or several services or functionalities
                    described in the Policy.</li>
                <li>Service – a website at the following address: <a href="http://www.payvoo.com/"
                        target="_blank">http://www.payvoo.com/</a></li>
            </ol>

            <p>We hereby inform that personal data of all Users using our Service, including the data on the IP address
                and other information collected by cookies is processed to meet the following objectives:</p>

            <ol>
                <li>In order to perform an agreement or to undertake actions as required by the data subject, prior to
                    execution of an agreement, Your personal data will be performed pursuant to Article 6(1b)</li>
                <li>1.1 Via an electronic mail of the Data Controller at the address provided in the Service as well as
                    via a contact form on the Controller’s website: http://www.payvoo.com/ in order to read the
                    Controller’s proposal, to receive a proposal or the information on the Controller’s services.</li>
                <li>1.2 Via a job application form</li>
                <li>In case of personal data processing other than set forth in para. above, personal data will be
                    processed pursuant to Article 6(1f) of the GDPR so as in order to implement the legitimate interest
                    of the Controller and, if the User gives their permission for such processing. The underlying legal
                    basis for such personal data processing shall be Article 6(1a) of the GDPR. In such case, please
                    place the following clause: “I hereby express my consent for processing my personal data in
                    consisting of a name, surname, e-mail address by the Controller i.e. Pay Voo UAB to perform e-mail
                    correspondence relative to sending this message, including provision of a reply by the controller”,
                    in the sent e-mail, and in case of using contact form, tick the relevant consent.</li>
                <li>In case of personal data processing in order to send the Controller’s marketing information about
                    available services and products using the newsletter available on the Controller’s website at the
                    following address: http://www.payvoo.com/, the personal data will the processed if a User gives
                    his/her consent to do so, and then, the underlying legal basis will be Article 6(1a) of the GDPR.
                    Please tick a relevant consent under the form in such a case.</li>
                <li>In case of personal data processing as a result of setting up an account by the User on the
                    Controller’s website at the following address: <a href="http://www.payvoo.com/"
                        taget="_blank">http://www.payvoo.com/</a>, personal data will be processed in order to execute
                    agreements with the Controller, handling these agreements and orders and to make financial
                    settlements (Article 6(1b) of the General Data Protection Regulation) as well as sending marketing
                    information by the Controller (Article 6(1f) of the General Data Protection Regulation).</li>
                <li>The cookie files (so called “cookies”) are IT data, in particular small text files that are stored
                    in the Service User’s end device and are designed for using the Service websites. Cookies usually
                    contain the name of a website from which they come, the time of storage on the end device and a
                    unique number. It is a User who decides whether they want to save cookie files on his/her computer.
                </li>
                <li>Within the Service, there are two main types of cookie files: session cookies and persistent
                    cookies. “Session” cookies are temporary files that are stored on the User’s end device until the
                    log-out time, exit from the website or switch off of the software (web-based browser). “Persistent”
                    cookie files are stored on the User’s end device for a definite period of time set forth in the
                    parameters in the cookie files or until the moment when they are deleted by a User.</li>
            </ol>

            <p>
                Pursuant to the Act of 16 July 2005 – Telecommunication Law (Journal of Laws No. 171, item 1800 as
                amended [Ustawa z dnia 16 lipca 2004 r. Prawo telekomunikacyjne (Dz. U. nr 171, poz. 1800 z późn. zm.]),
                every User has a right to decide on the scope of access of cookies to his/her computer by modification
                of browser’s settings.<br />
                Change in cookies handling settings in particular browsers is described on the websites of software
                manufacturers:
            </p>

            <ol>
                <li>Mozilla Firefox: <a
                        href="https://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer"
                        target="_blank">https://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer</a>
                </li>
                <li>Internet Explorer: <a
                        href="https://support.microsoft.com/en-gb/help/278835/how-to-delete-cookie-files-in-internet-explorer"
                        target="_blank">https://support.microsoft.com/en-gb/help/278835/how-to-delete-cookie-files-in-internet-explorer</a>
                </li>
                <li>Google Chrome: <a href="https://support.google.com/chrome/answer/95647?hl=en"
                        target="_blank">https://support.google.com/chrome/answer/95647?hl=en</a></li>
                <li>Safari: <a href="http://safari.helpmax.net/en/safari-help/"
                        target="_blank">http://safari.helpmax.net/en/safari-help/</a></li>
                <li>Opera: <a href="https://help.opera.com/en/latest/crashes-and-issues/"
                        target="_blank">https://help.opera.com/en/latest/crashes-and-issues/</a></li>
            </ol>

            <p>
                NOTE: Cookies are not used in order to identify the users’ identity.<br />
                The Data Controller may contact users via electronic mail and/or by phone on the issues related to the
                provided inquiries.<br />
                In case when personal data is processed upon a consent, a User shall be entitled to withdraw such a
                consent at any time. In order to withdraw a consent, please send an e-mail to the following address:
                iodo@codershouse.eu . Simultaneously, we would like to indicate that withdrawal of a consent does not
                affect legal compliance of the processing performed pursuant to the consent prior to its
                withdrawal.<br />
                Personal data is provided voluntarily, but in some cases it is necessary in order to be able to satisfy
                the User’s expectations on e-mail correspondence via the e-mail address provided in our Service.<br />
                We would like to inform you that we do not perform automated decision-making, including the ones based
                on profiling.<br />
                The Controller and Controller’s representatives authorized by him/her to personal data processing shall
                be personal data recipients.<br />
                Personal data is not transferred outside of the European Economic Area.<br />
                A time period of storing personal data depends on the objective and the underlying legal basis of its
                processing:
            </p>

            <ol>
                <li>In the area of processing data for the purposes arising from the legitimate interests pursued by the
                    Controller i.e. direct marketing pursuant to Article 6(1f) of the General Data Protection
                    Regulation, Your personal data will be processed until the time objection is filed by a User against
                    processing personal data pertaining to a User for the purposes of such marketing,</li>
                <li>In case of processing data in order to provide service via electronic means pursuant to Article
                    6(1b) of the GDPR, the data will be stored until expiry of potential claims under a warranty or a
                    statutory warranty, but no less than 5 years from the beginning of a year following the financial
                    year in which operations, transactions and proceedings were ultimately finalized.</li>
                <li>In the area of personal data processing in order to send commercial information – until a moment a
                    User withdraws his/her consent for data processing.</li>
            </ol>

            <p>
                In case it is found that personal data processing violates the provisions of the GDRP, a User shall be
                entitled to file a complaint to the supervisory authority.<br />
                Information clause – pursuant to the GDPR provisions, a User shall be entitled to an access right to
                his/her personal data, a right to rectify them and to delete his/her personal data in cases indicated in
                the provisions of Article 17 of the GDPR. In cases indicated in Article 18 of the GDRP, a User shall be
                entitled to restricting processing his/her personal data. A User shall also be entitled to a right to
                file an objection to personal data processing. In cases when processing is done pursuant to a consent or
                an agreement, there is a right to transfer his/her personal data.<br />
                Personal data of the Users shall be processed pursuant to the content of the Regulation (EU) 2016/679 of
                the European Parliament and of the Council of 27 April 2016 on the Protection of Natural Persons with
                Regard to the Processing of Personal Data and on the Free Movement of Such Data, and Repealing Directive
                95/46/EC.<br />
                Any issues not regulated by this Privacy Policy shall be governed by the personal data protection
                provisions – the Act of 10 May 2018 on personal data protection [Ustawa z dnia 10 maja 2018 r. o
                ochronie danych osobowych].<br />
            </p>
        </div>

    </div>
</section>


<footer id="footer">
    <div class="container">

        <div class="footer__content">
            <div class="footer--logo">
                <a class="logo" href="index.html">
                    <img src="../../../../../assets/images/footer-logo.png" alt="">
                </a>
                <!--                    <a class="mail" href="mailto:info@payvoo.com">info@payvoo.com</a>-->
            </div>
            <div class="footer--address">
                <p>
                    Pay Voo UAB<br />
                    305190898<br />
                    Vilniaus m. sav. Vilniaus<br />
                    m. Didzioji g. 18<br />
                    Lithuania
                </p>
            </div>
            <div class="footer--menu">
                <ul>
                    <li><a href="#choose-card" class="anchor">Cards</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="">Privacy policy</a></li>
                </ul>
            </div>
            <div class="footer--social">
                <ul>
                    <li><a class="social social--instagram" href="https://www.instagram.com/pay_voo/"
                            target="_blank"></a></li>
                    <li><a class="social social--facebook" href="https://www.facebook.com/payvoo/" target="_blank"></a>
                    </li>
                    <li><a class="social social--twitter" href="https://twitter.com/pay_voo" target="_blank"></a></li>
                </ul>
            </div>
        </div>

    </div>
</footer>