<div class="container-fluid page_container">
    <div class="page_header">
        <div class="header">
            Accounts
        </div>
        <ul>
            <li>Accounts</li>
        </ul>
    </div>
    <div class="pull-right m-t-10">
        <button type="button" class="btn btn-primary btn-sm m-r-15" routerLink="/home/add-money"  routerLinkActive="active"><i
                class="fa fa-plus"></i>&nbsp;
            Add Money</button>
        <button type="button" class="btn btn-primary btn-sm m-r-15" routerLink="/home/exchange/rates"  routerLinkActive="active"><i
                class="fa fa-refresh"></i>&nbsp;
            Exchange</button>
        <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-arrow-right"></i>&nbsp;
            Send</button>
    </div>
    <div>
        <nav class="navbar navbar-expand-sm acc_navbar">
            <ul class="navbar-nav">
                <li routerLink="/home/account-index/getaccount" class="nav-item"  routerLinkActive="active">
                    <a class="nav-link"><b>Accounts</b></a>
                </li>
                <li routerLink="/home/account-index/transactions" class="nav-item"  routerLinkActive="active">
                    <a class="nav-link"><b>Transactions</b> </a>
                </li>
            </ul>
        </nav>
    </div>
    <router-outlet></router-outlet>

</div>