.text {
  color: #2a3477;
  padding: 25px;
  font-weight: 800;
}
.prod-note {
  font-size: 13px;
  top: 9px;
  margin-top: 0px;
}
.sandboxes {
  max-width: 800px;
  margin-left: 20px;
}
.mt-10 {
  margin-top: 5px;
}
.member {
  padding: 20px;
}
.rotate.down {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.rotate-product.down {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.member_content {
  background-color: #cecece;
  padding: 12px;
  margin-top: 11px;
  margin-bottom: 10px;
}
.sandboxes .card {
  margin-bottom: 20px;
}
.card-header {
  cursor: pointer;
  font-weight: 700;
}
.email_send {
  min-width: 371px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}
.card-body p {
  font-weight: 700;
}
.email_send h3 {
  font-size: 1.75rem;
  font-weight: bold;
  padding-bottom: 10px;
}

.email_send p {
  padding-bottom: 5px;
}
.email_send button {
  margin-top: 10px;
  margin-right: 20px;
}
.copied {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #cecece;
}
.copies {
  position: relative;
  margin-bottom: 10px;
}
.copies div {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 0px 21px 4px 17px;
  border: 1px solid #d4d3d3;
  background-color: white;
  cursor: pointer;
}
.prod-api h4 {
  font-size: 16px;
  font-weight: 900;
}
.prod-api span {
  font-size: 13px;
}
.share {
  background-color: #f37221;
  padding: 5px 15px 6px 15px;
  color: white;
  border-radius: 36px;
  float: right;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 0px;
}
.sandbox {
  padding: 6px 20px 4px 20px;
}
.sandbox_title {
  float: left;
  margin-bottom: 11px;
  padding-top: 4px;
}
.email_send p {
  padding-bottom: 1px;
  margin-bottom: 1px;
}
.email_send img {
  width: 27%;
  margin-bottom: 23px;
}
.email_send .form-group {
  margin-top: 15px;
}
.color {
  color: blue;
  font-weight: 600;
}
input:focus {
  outline: none;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 471px;
    margin: 1.75rem auto;
  }
}

@media (max-width: 480px) {
  .email_send {
    min-width: unset;
  }
  .sandboxes {
    margin-left: 0px;
  }
}
