<div class="sandboxes">
  <h2 class="text">Welcome to the PayVoo Sandbox</h2>
  <div class="container">
  <h6>Member ID:</h6>
  <div class="copies">
      <input type="text" class="copied"  [(ngModel)]="memberuser" #member readonly>
  </div>
  </div>
  <div class="container">
    <div class="card">
      <div class="card-header sandbox">
        <p class="sandbox_title">Sandbox</p>
        <p class="share" data-toggle="modal" data-target="#sendemail"> <i class="fa fa-share-alt"></i>&nbsp;Share</p>
      </div>
      <div class="card-body" id="demo"> 
        <form [formGroup]="userProfile">
        <p>URL:</p>
        <div class="copies">
              <input type="text" class="copied" formControlName="url" #input readonly>
              <div value="click to copy" (click)="copyInputMessage(input)">Copy</div>
        </div>
        <p>API KEY:</p>
        <div class="copies">
            <input type="text" class="copied" formControlName="apikey"  #second readonly>
            <div value="click to copy" (click)="copyInputMessage(second)">Copy</div>
        </div>
        <p>DOCUMENTATION:</p> 
        <div class="copies">
          <input type="text" class="copied"  formControlName="support" #documentation readonly>
          <div value="click to copy" (click)="copyInputMessage(documentation)">Copy</div>
        </div>
       </form>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="card">
      <div class="card-header prod-api">
         <h4>Production API</h4>
        <span>Please, open a <span class="color" (click)="business()">Business account</span> to receive production API information</span>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="sendemail" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="email_send">
          <img src="../../../../assets/images/email.png" alt="path not correct" />
          <p>You would like to share Sandbox details?</p>
          <p>Please, type in receiver's email.</p>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Email" [(ngModel)]="uservalue" #user="ngModel"  pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$"  required>
          </div>
          <button class="btn btn-primary btn-block" (click)="sendEmail()" [disabled]="user.errors?.pattern || user.errors?.required">Send Email</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="success" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="email_send">
            <img src="../../../../assets/images/tick_icon.png" alt="path not correct" />
            <p>Email has been sent successfully</p>
            <button class="btn btn-primary btn-block" (click)="closeModal()">Close</button>
          </div>
        </div>
      </div>
    </div>
</div>