// color schema start
$font-color: rgba(52, 63, 67, 0.65);
$font-color-active: rgb(52, 63, 67);
$color-primary: #f37221;
$color-secondary: #2a3477;
$color-success: #1f6a00;
$color-danger: #dc3545;
$body-background: #f7f7f7;

// common styles
body {
  font-family: "Lato", sans-serif !important;
  font-weight: 500;
  color: $font-color;
  background: #ffffff;
}

.btn {
  border-radius: 4px;
  padding: 0.65rem 2rem;
  font-size: 1.125rem;
}

.btn-primary {
  background-color: $color-primary;
  color: #fff;
  border: 1px solid $color-primary;

  &:hover,
  &:not(.disabled):active,
  &:not(:disabled):not(.disabled):active {
    background: $color-secondary;
    color: #ffffff;
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid $color-secondary;
  }
  &.disabled,
  &:disabled {
    background: #c9c9d3;
    border-color: #c9c9d3;
  }
}

.btn-outline-primary {
  border: 1px solid $color-primary;
  color: $color-primary !important;
  background: none;
  &:focus,
  &:active,
  &:not(.disabled):active,
  &:not(:disabled):not(.disabled):active {
    background: $color-secondary;
    color: #ffffff !important;
    outline: none !important;
    box-shadow: none !important;
  }
  &:hover {
    background-color: $color-secondary;
    color: #ffffff !important;
    border-color: $color-secondary;
  }
  &.disabled,
  &:disabled {
    background-color: $color-primary;
  }
}

.float_label {
  display: block;
  position: relative;
  margin-bottom: 25px;
  background: none;
}
.float_label label,
.float_label > span {
  position: absolute;
  cursor: text;
  font-size: 80%;
  opacity: 0.7;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  top: -0.6em;
  left: 0.75rem;
  z-index: 3;
  line-height: 1;
  padding: 0 1px;
  pointer-events: none;
}
.float_label label::after,
.float_label > span::after {
  content: " ";
  display: block;
  position: absolute;
  background: #fff;
  height: 2px;
  top: 50%;
  left: -0.2em;
  right: -0.2em;
  z-index: -1;
}
.float_label .form-control::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.float_label .form-control:placeholder-shown:not(:focus)::-webkit-input-placeholder {
  opacity: 0;
}
.float_label .form-control::-moz-placeholder {
  opacity: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.float_label .form-control:placeholder-shown:not(:focus)::-moz-placeholder {
  opacity: 0;
}
.float_label .form-control:placeholder-shown:not(:focus) + * {
  font-size: 110%;
  opacity: 0.5;
  top: 0.55em;
  left: 0px;
}
.input-group .float_label {
  display: table-cell;
}
.input-group .float_label .form-control {
  border-radius: 0.25rem;
}
.input-group .float_label:not(:last-child),
.input-group .float_label:not(:last-child) .form-control {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right: 0;
}
.input-group .float_label:not(:first-child),
.input-group .float_label:not(:first-child) .form-control {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.float_label .form-control:focus {
  color: #666666;
  background-color: none;
  border-color: #1a73e8;
  outline: 0;
  box-shadow: none;
}
.float_label.rt_icon {
  width: calc(100% - 50px);
}

.float_label .form-control,
.float_label select {
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid #ced4da;
  height: calc(2.5rem + 4px);
  font-size: 1.125rem;
  background: none;
  &:focus {
    color: #666666;
    background-color: none;
    border-color: $color-primary;
    outline: 0;
    box-shadow: none;
  }
}

// slick-carousel start

#slider {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 100px;
  overflow-x: hidden;
}

#slider .title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-bottom: 28px;
  border-bottom: 1px solid #dcdcdc;
}

#slider .title:before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 155px;
  height: 3px;
  background: #2665a7;
}

#slider .static-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  margin-top: 6px;
}

#slider .slider-container .slider-content {
  width: 100%;
  // max-width: 936px;
}

#slider .slider-container .slider-content .slick-list {
  overflow: initial;
}

#slider .slider-container .slider-content .slick-list .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#slider .slider-container .slider-content .slick-list .slick-track .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  opacity: 0.5;
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

#slider .slider-container .slider-content .slick-list .slick-track .slick-slide.slick-active {
  opacity: 1;
}

#slider .slider-container .slider-content .slick-list .slick-track .slick-slide > div {
  width: 100%;
  height: 100%;
}

#slider .slider-container .slider-content .slick-prev,
#slider .slider-container .slider-content .slick-next {
  width: 66px;
  height: 62px;
  z-index: 99;
}

#slider .slider-container .slider-content .slick-prev {
  left: -100px;
  background-image: url("/assets/images/arrow-left.svg");
}

#slider .slider-container .slider-content .slick-next {
  right: -100px;
  background-image: url("/assets/images/arrow-right.svg");
  // background-image: url("./assets/images/bgr.png");
}

#slider .static-container .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 20px 16px;
}

#slider .static-container .item .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: wrap column;
  flex-flow: wrap column;
  width: 100%;
  height: 100%;
  max-width: 280px;
  border-radius: 21px;
  -webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.13);
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.13);
}

#slider .static-container .slider-content .item .block .images {
  display: block;
  width: 100%;
  height: 202px;
}

#slider .static-container .slider-content .item .block .images img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

#slider .static-container .item .block .description {
  display: block;
  margin-bottom: auto;
  padding: 26px 24px 24px 24px;
}

#slider .static-container .item .block .description h4 {
  line-height: 20px;
  margin-bottom: 12px;
  min-height: 40px;
  font-weight: bold;
}

.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: 0;
  outline: 0;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: 0;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.cursor_pointer {
  cursor: pointer;
}

.m-t-5 {
  margin-top: 5px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-r-15 {
  margin-right: 15px;
}

.page_header {
  display: inline-block;
  .header {
    font-size: 1.125rem;
    font-weight: bold;
  }
  ul {
    list-style: none;
    padding: 0px;
    li {
      font-size: 0.825rem;
      display: inline-block;
      opacity: 0.8;
      cursor: pointer;
      &:after {
        content: " / ";
      }
      &:last-child {
        opacity: 1;
        &:after {
          content: "";
        }
      }
    }
  }
}

.flag_cont {
  background: url("/assets/images/icons/countryflags.png");
  background-position: 0 0;
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #999999;
  border-radius: 50%;

  &.flag_cont_euro {
    background-position: -24px -19px;
  }

  &.flag_cont_bulg {
    background-position: -99px -19px;
  }

  &.flag_cont_uae {
    background-position: -174px -19px;
  }

  &.flag_cont_swiss {
    background-position: -249px -19px;
  }

  &.flag_cont_croatian {
    background-position: -325px -19px;
  }

  &.flag_cont_czech {
    background-position: -401px -19px;
  }

  &.flag_cont_hungarian {
    background-position: -477px -19px;
  }

  &.flag_cont_polish {
    background-position: -25px -80px;
  }

  &.flag_cont_romania {
    background-position: -101px -80px;
  }

  &.flag_cont_swedan {
    background-position: -177px -80px;
  }

  &.flag_cont_danish {
    background-position: -249px -80px;
  }

  &.flag_cont_us {
    background-position: -325px -80px;
  }

  &.flag_cont_british {
    background-position: -401px -80px;
  }
}

.flag_cont2x {
  background: url("/assets/images/icons/countryflags2x.png");
  background-position: 0 0;
  width: 100px;
  height: 100px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #999999;
  border-radius: 50%;

  &.flag_cont_euro {
    background-position: -26px -20px;
  }

  &.flag_cont_bulg {
    background-position: -218px -20px;
  }

  &.flag_cont_uae {
    background-position: -174px -19px;
  }

  &.flag_cont_swiss {
    background-position: -249px -19px;
  }

  &.flag_cont_croatian {
    background-position: -797px -20px;
  }

  &.flag_cont_czech {
    background-position: -992px -20px;
  }

  &.flag_cont_hungarian {
    background-position: -1187px -21px;
  }

  &.flag_cont_polish {
    background-position: -30px -177px;
  }

  &.flag_cont_romania {
    background-position: -223px -177px;
  }

  &.flag_cont_swedan {
    background-position: -418px -177px;
  }

  &.flag_cont_danish {
    background-position: -602px -177px;
  }

  &.flag_cont_us {
    background-position: -797px -177px;
  }

  &.flag_cont_british {
    background-position: -994px -177px;
  }
}

input[type="date"] {
  text-transform: uppercase;
}
// slick-carousel end

.m-t-5 {
  margin-top: 5px;
}
.m-t-20 {
  margin-top: 20px;
}
.m-t-50 {
  margin-top: 50px;
}
.m_t_200 {
  margin-top: 200px;
}
.m-b-20 {
  margin-bottom: 20px;
}

.m_r_20 {
  margin-right: 20px;
}
.mat-input-container {
  width: 100%;
}
.mat-input-element {
  color: $font-color;
  font-size: 1.125rem;
}
.mat-form-field-underline {
  height: 2px !important;
  background: #ced4da;
}
.mat-form-field-invalid:not(.mat-focused) .mat-form-field-underline .mat-form-field-ripple {
  height: 2px;
}
.mat-form-field-invalid .mat-form-field-ripple {
  background-color: $font-color;
}
.mat-form-field-invalid {
  color: $font-color;
}
.mat-form-field-label {
  padding-left: 1rem;
}

@media screen and (max-width: 1280px) {
  .btn-primary,
  .btn-outline-primary {
    padding: 0.5rem 1.25rem;
    font-size: 1rem;
  }
}
#cvv {
  -webkit-text-security: disc;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
#btnIntoLink {
  background: none !important;
  border: none;
  cursor: pointer;
  color: #616161;
}
@media (max-width: 992px) {
  #slider .slider-container .slider-content .slick-prev,
  #slider .slider-container .slider-content .slick-next {
    width: 60px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  #slider .slider-container .slider-content .slick-prev {
    left: 0px;
  }

  #slider .slider-container .slider-content .slick-next {
    right: 0px;
  }
}

@media (max-width: 480px) {
  #slider .slider-container .slider-content .slick-prev,
  #slider .slider-container .slider-content .slick-next {
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  #slider .slider-container .slider-content .slick-prev {
    left: 0px;
  }

  #slider .slider-container .slider-content .slick-next {
    right: 0px;
  }
  .fltlbl_lft_fx {
    width: calc(100% - 80px);
  }
  .float_label .form-control:placeholder-shown:not(:focus) + * {
    font-size: 95%;
    top: 0.8em;
  }
}
