@import "../../../../styles.scss";

body {
  font-family: "Lato", sans-serif;
}

.lft_bg_img {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
}
.bg_img_1 {
  background-image: url("../../../../assets/images/analysis-banking-businesswoman-1451448.jpg");
}
.rt_cont {
  padding: 50px 150px;
  min-height: 100vh;
}
.bg_wt {
  background: #ffffff;
}

.txt_link {
  color: $color-secondary;
  cursor: pointer;
  text-decoration: underline;
  font-weight: 600;
}

.check_div {
  margin-top: 180px;
  text-align: center;
  margin-bottom: 12px;
  img {
    max-width: 180px;
  }
}
.header_bar {
  position: relative;
  margin-bottom: 35px;
  font-weight: 600;
  color: $font-color-active;
}

.header_para {
  font-size: 1rem;
  margin-bottom: 20px;
  color: $font-color;
  font-weight: 400;
  line-height: 1.5rem;
}

.logo_container {
  width: 100%;
  height: 0px;
  position: relative;
  z-index: 5;
  img {
    position: absolute;
    width: 350px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: -30px;
  }
}

#user_form fieldset:not(:first-of-type) {
  display: none;
}

.form-check-inline .form-check-input {
  margin-left: 6px;
}

.numbers::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

$num-of-char: 6;
$char-width: 1ch;
$gap: 0.4 * $char-width;
$in-w: $num-of-char * ($char-width + ($gap));

.otp {
  display: block;
  border: none;
  width: 12ch;
  background: repeating-linear-gradient(90deg, #000 0, #000 1.3ch, transparent 0, transparent 1.7ch) 0 100%/10ch 1px
    no-repeat;
  font: 4.8ch droid sans mono, consolas, monospace;
  letter-spacing: 0.68ch;
  padding: 6px;
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

$num-of-char: 4;
$char-width: 1ch;
$gap: 0.4 * $char-width;
$in-w: $num-of-char * ($char-width + ($gap));
.pin {
  display: block;
  border: none;
  width: 7.1ch;
  background: repeating-linear-gradient(90deg, #000 0, #000 1.3ch, transparent 0, transparent 1.8ch) 0 100%/10ch 1px
    no-repeat;
  font: 4.8ch droid sans mono, consolas, monospace;
  letter-spacing: 0.74ch;
  padding: 8px 0px 8px 6px;
  &:focus {
    outline: none;
    box-shadow: none;
  }
}
.pin_cnt {
  width: fit-content;
  .inpt_icn {
    top: 25px;
    right: -30px;
  }
}

.fltlbl_lft_fx {
  width: calc(100% - 100px);
}
.inpt_icn {
  position: absolute;
  top: 10px;
  right: 0px;
  background: none;
  border: none;
  color: #777777;
  cursor: pointer;
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.dot_bar {
  display: block;
  margin-top: 170px;
  ul {
    list-style: none;
    padding-left: 0px;
    li {
      width: 8px;
      height: 8px;
      background: #c9c9d3;
      border-radius: 50%;
      display: inline-block;
      margin-left: 20px;
      &.completed {
        background: $color-secondary;
      }
      &.current {
        background: $color-primary;
      }
    }
  }
}

.pass_checkers {
  list-style: none;
  padding-left: 10px;
  li {
    padding: 10px 0px;
    i {
      width: 25px;
      height: 25px;
      padding: 0px;
      text-align: center;
      margin-right: 10px;
      font-size: 0.725rem;
      background: $font-color;
      border-radius: 50%;
      padding: 8px 0px;
      color: #ffffff;
    }
    &.active {
      color: $font-color-active;
      i {
        color: #ffffff;
        background-color: $color-success;
      }
    }
  }
}
@media (max-width: 1300px) {
  .rt_cont {
    padding: 50px 80px;
  }
}

@media (max-width: 768px) {
  .lft_bg_img {
    height: 70px;
    min-height: auto;
    z-index: 4;
    position: fixed;
    background-position: center;
  }
  .rt_cont {
    padding: 10px 30px;
  }
  .logo_container img {
    width: 160px;
    top: -20px;
    position: fixed;
  }
  // .otp {
  //   font-size: 1ch;
  //   padding-left: 3px;
  //   width: 11ch;
  // }
  .dot_bar {
    margin-top: 100px;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .btn {
    margin-bottom: 20px;
  }
  .header_bar {
    margin-bottom: 20px;
  }
  .otp {
    font-size: 1ch;
    padding-left: 3px;
    width: 11ch;
  }
  .pin {
    font-size: 1ch;
    padding-left: 3px;
    width: 7ch;
  }
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
