
<div class="container-fluid">
    <div class="logo_container">
      <img src="../../../../assets/images/logo_white.png">
    </div>
    <div class="row">
      <div class="col-sm-6 lft_bg_img bg_img_1">
        &nbsp;
      </div>
      <div class="col-sm-6 rt_cont offset-md-6">
<ng-template [ngIf]="updateContactAddress">
  <form [formGroup]="personalAddress" style="margin-top: 225px; ">
      <fieldset>
    <legend style="margin-left: 15px;">Enter your Address</legend>
    <div class="content_card">
        <div class="col-lg-10">
          <div class="form-group float_label">
              <select class="custom-select" formControlName="country_id" id="contryname">
                  <option *ngFor="let item of countryData" [ngValue]="item.country_id">{{item.country_name}}</option>
              </select>
                <label>Country</label>
          </div>
          <div class="form-group float_label">
            <input type="text" class="form-control" formControlName="postal_code" name="postal_code" placeholder="&nbsp;">
            <label for="postal_code">Postal code</label>
            <div class="text text-danger" *ngIf="personalAddress.controls['postal_code'].invalid && personalAddress.controls['postal_code'].dirty">please enter letters and numbers.</div>
          </div>
          <div class="form-group float_label">
            <input type="text" class="form-control" formControlName="city" name="town_city" placeholder="&nbsp;">
            <label for="town_city">Town/City</label>
            <div class="text text-danger" *ngIf="personalAddress.controls['city'].invalid && personalAddress.controls['city'].dirty">Please, make sure that you have used only letters, hyphen and apostrophe.</div>
          </div>
          <div class="form-group float_label">
            <input type="text" class="form-control" formControlName="address_line1" name="addressline1" placeholder="&nbsp;">
            <label for="addressline1">Address Line 1</label>
            <div class="text text-danger" *ngIf="personalAddress.controls['address_line1'].invalid && personalAddress.controls['address_line1'].dirty">Please, make sure that Address Line 1 contains only letters, numbers, apostrophe, hyphen and comma.</div>
          </div>
          <div class="form-group float_label">
            <input type="text" class="form-control" formControlName="address_line2" name="addressline2" placeholder="&nbsp;">
            <label for="addressline2">Address Line 2 (Optional)</label>
            <div class="text text-danger" *ngIf="personalAddress.controls['address_line2'].invalid && personalAddress.controls['address_line2'].dirty">Please, make sure that Address Line 2 contains only letters, numbers, apostrophe, hyphen and comma.</div>
          </div>
          <div class="form-group float_label">
            <input type="text" class="form-control" formControlName="region" name="region" placeholder="&nbsp;">
            <label for="region">Region</label>
            <div class="text text-danger" *ngIf="personalAddress.controls['region'].invalid && personalAddress.controls['region'].dirty">Please, make sure that Address Line 2 contains only letters, numbers, apostrophe, hyphen and comma.</div>
          </div>
          <button class="btn btn-primary" [disabled]="personalAddress.invalid" (click)="submitPersonalAddr(personalAddress.value)">Continue</button>
      </div>
    </div>
    </fieldset>
    </form>
</ng-template>
<ng-template [ngIf]="updateContactDetails">
<form [formGroup]="updateContactForm" style="margin-top: 225px;">
  <fieldset>
   <legend style="margin-left: 15px;">Enter your details</legend>
    <div class="content_card">
        <div class="col-lg-10">
            <div class="form-group float_label">
                <select id="type" formControlName="business_owner_type" class="form-control">
                  <option *ngFor="let c of dirList" [ngValue]="c">{{ c }}</option>
              </select>
                <div class="text text-danger" *ngIf="updateContactForm.controls['business_owner_type'].invalid && updateContactForm.controls['business_owner_type'].dirty"></div>
              </div>
          <div class="form-group float_label">
            <input type="text" class="form-control" name="first_name" formControlName="first_name" placeholder="&nbsp;">
            <label for="first_name">First name</label>
            <div class="text text-danger" *ngIf="updateContactForm.controls['first_name'].invalid && updateContactForm.controls['first_name'].dirty">Please, make sure that you are using only letters, hyphen and apostrophe.</div>
          </div>
          <div class="form-group float_label">
            <input type="text" class="form-control" name="last_name"  formControlName="last_name"  placeholder="&nbsp;">
            <label for="last_name">Last name</label>
            <div class="text text-danger" *ngIf="updateContactForm.controls['last_name'].invalid && updateContactForm.controls['last_name'].dirty">Please, make sure that you are using only letters, hyphen and apostrophe.</div>
          </div>
          <div class="form-group float_label">
              <input type="date" class="form-control  datepicker" formControlName="dob"  placeholder="&nbsp;" [min]="minDOB" [max]="maxDOB" (change)="dobValidation($event)">
              <label for="last_name">Date of birth</label>
              <div class="text text-danger" *ngIf="validDOB">Please, enter valid date of birth</div>
            </div>
          <div class="form-group float_label">
            <h5>Gender</h5>
            <input type="radio"  value="MALE" name="gender" formControlName="gender">Male 
            <input type="radio"  value="FEMALE"  name="gender" formControlName="gender">Female
          </div>
          <div class="text text-danger" *ngIf="updateContactForm.controls['gender'].invalid && updateContactForm.controls['gender'].dirty">Gender is required</div>
          <div class="form-group float_label">
            <input type="text" class="form-control" name="email" formControlName="email"  placeholder="&nbsp;">
            <label for="Email">Email</label>
            <div class="text text-danger" *ngIf="updateContactForm.controls['email'].invalid && updateContactForm.controls['email'].dirty">Enter valid email id</div>
          </div>
          <div class="form-group">
              <div class="input-group">
                <div class="float_label">
                  <select class="custom-select" formControlName="calling_code" (change)="SetCountry()">
                    <option *ngFor="let item of countryData" [ngValue]="item.calling_code">{{item.calling_code}}</option>
                  </select>
                  <label>Code</label>
                  <div class="text text-danger" *ngIf="updateContactForm.controls['calling_code'].invalid && updateContactForm.controls['calling_code'].dirty">Please, select calling code</div>
                </div>
                <span class="float_label fltlbl_lft_fx">
                  <input type="text" class="form-control" required id="mobileno" name="mobileno" onkeypress="return AvoidSpace(event)"  placeholder="&nbsp;" style="width: 272%;"
                  formControlName="mobile"  minlength=5 maxlength=17>
                  <label for="mobileno">Mobile Number</label>
                  <div class="text text-danger" *ngIf="updateContactForm.controls['mobile'].invalid && updateContactForm.controls['mobile'].dirty">Please, enter valid mobile</div>
                </span>
              </div>
            </div>
          <button class="btn btn-primary" [disabled]="updateContactForm.invalid || validDOB" (click)="submitPersonalDetails(updateContactForm.value)">Continue</button>
        </div>
      </div>
  </fieldset>
 </form>
</ng-template> 
 <!-- <ng-template [ngIf]="thanksFlag">
    <img src="../../../../assets/images/logo_white.png">
    <h2 class="text-center">Thank You..!</h2>
</ng-template> -->
<ng-template [ngIf]="kycTemplate">
  <div style="margin-top: 215px">
  <p>Install the PayVoo app on your smartphone or tablet.</p>
  <h3>1. Install the PayVoo app via email link.</h3>
  <div *ngIf="smslinkBox">
  <div class="form-group">
     <label>Your Email:</label> 
     <input type="text" class="form-control" [(ngModel)]="this.email" readonly>
    <small>The email link for the installation of the PayVoo app will be send to this email</small>
  </div>
  <span>Send installation link to </span> &nbsp;&nbsp;&nbsp;
  <button [disabled]="!identId" (click)="KYClinkToMobile('android')"><img src="../../assets/images/androidicon.png" style=width:35px;;></button> or
  <button [disabled]="!identId" (click)="KYClinkToMobile('ios')"><img src="../../assets/images/iosicon.png" style=width:35px;;></button>
 </div>
 <div *ngIf="!smslinkBox">
  <p>The link with installation link was sent to {{this.email}}</p>
 </div>
  <p style="color:goldenrod">or</p>
  <span style="color:goldenrod">Install the PayVoo app directly via the playstore.</span> &nbsp;
  <img src="../../assets/images/googleplay.png" style=width:120px;> &nbsp;
  <img src="../../assets/images/appstore.png" style=width:120px;>
   <hr>
  <h3>2. Launch app and start identification</h3>
  <p>Open the PayVoo app on your smartphone and start the identification process with your Ident-ID.</p>
  <div class="form-group">
    <label for="mobile">Your Ident-ID:</label>
    <div class="jumbotron text-center">
      <h3 class="text-center" style="font-weight:bold;">{{identId}}</h3> 
    </div>
    <small>Please always provide your Ident-ID for an identification</small>
  </div>
</div>
</ng-template>

      </div>
    </div>
  </div>