<div class="container-fluid">
  <div class="logo_container">
    <img src="../../../../assets/images/logo_white.png">
  </div>
  <div class="row">
    <div class="col-sm-6 lft_bg_img bg_img_1">
      &nbsp;
    </div>

    <div class="col-sm-6 rt_cont offset-md-6">

      <form id="user_form" [formGroup]="forgotPassword">

        <ng-template [ngIf]=business_mail>

          <fieldset>

            <div class="m_t_200">

              <h2 class="header_bar">Enter your personal email</h2>

              <div class="form-group float_label">

                <input type="email" class="form-control" formControlName="email" name="email"  placeholder="&nbsp;">

                <label for="email">Enter personal email</label>

                <div class="text text-danger"
                  *ngIf="forgotPassword.controls['email'].invalid && forgotPassword.controls['email'].touched">Please, enter a valid email.</div>
              </div>

              <span *ngIf="error">There is no user, please verify</span>
              <div class="row">
                <div class="col-md-6 offset-md-6">
                  <button id="step1" type="submit" class="next btn btn-block btn-primary"
                    [disabled]="forgotPassword.controls['email'].invalid" (click)="checkdata()">Continue</button>
                </div>
              </div>

            </div>

          </fieldset>

        </ng-template>


        <ng-template [ngIf]=reset_mail>

          <fieldset>

            <div class="m_t_200">

              <h2 class="header_bar">Reset Password</h2>

              <div class="form-group float_label">

                <input type="password" class="form-control" formControlName="oldpwd"  name="newpwd" placeholder="&nbsp;">
                      
                <label for="newpwd">Enter new password</label>

                <div class="text text-danger"
                *ngIf="forgotPassword.controls['oldpwd'].dirty && forgotPassword.controls['oldpwd'].invalid">
                Please, make sure that you are using only letters, hyphen and apostrophe.
                <div class="text text-danger inpt_icn"><i class="fa fa-warning"></i></div>
               </div>

              </div>


              <div class="input-group">

                <span class="float_label rt_icon">
                  <input type="password" id="password" class="form-control" name="password"  formControlName="newpwd"
                    placeholder="&nbsp;">
                  <label for="password">Confirm new password</label>
                </span>

                <div class="input-group-append">

                  <div class="inpt_icn" onclick="showPassword()"
                    (click)="showMyContainer=!showMyContainer" *ngIf="!showMyContainer">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                 </div>

                  <div class="inpt_icn" onclick="hidePassword()"
                    (click)="showMyContainer=!showMyContainer" *ngIf="showMyContainer">
                    <i class="fa fa-eye-slash" aria-hidden="true"></i>
                 </div>

                </div>

              </div>

              <span class="matched" *ngIf="checkPassword">The password does not matched</span>

            </div>
            
            <button type="submit" class="next btn btn-primary reset"
              [disabled]="forgotPassword.controls['oldpwd'].invalid || forgotPassword.controls['newpwd'].invalid || checkPassword" (click)="chcekpwd()">Continue</button>

          </fieldset>

        </ng-template>
      

        <ng-template [ngIf]="passwordcompleteFeildSet">

          <fieldset>
            <div class="check_div">
              <img src="../../../../assets/images/tick_icon.png">
            </div>
            <h2 class="header_bar">Password changed successfully</h2>
            <div class="header_para m_b_20">Now let's get started</div>
            <button class="next btn btn-primary" (click)="chooselogin()">Continue</button>
          </fieldset>

        </ng-template>


      </form>
    </div>
  </div>
</div>