<div class="container-fluid bg_wt">
	<div class="logo_container">
		<img src="../../../../../assets/images/logo_white.png">
	</div>
	<div class="row">
		<div class="col-lg-6 lft_bg_img bg_img_1">
			&nbsp;
		</div>
		<div class="col-lg-6 rt_cont offset-lg-6 m_t_200 ">

			<h2 class="header_bar">Enter your email & password</h2>

			<form class="login-form" [formGroup]="loginForm" (ngSubmit)="LoginAction(loginForm.value)">
				<div class="form-group float_label">
					<input type="email" class="form-control" placeholder="&nbsp;" required="required"
						formControlName="email">
						<label>Email</label>
							</div>
				<div class="form-group float_label">
					<input type="password" class="form-control" placeholder="&nbsp;" required="required"
						formControlName="password">
						<label>Password</label>
				</div>
				<button class="btn btn-primary btn-block" [disabled]="loginForm.invalid">Login</button>
				<a (click)="password()" class="pull-right forgot1">Forgot Password ?</a>
			</form>
		</div>
	</div>
</div>