<div class="container-fluid">
  <div class="logo_container">
    <img src="../../../../assets/images/logo_white.png">
  </div>
  <ng-template [ngIf]='businessDetailTemplate'>
  <form [formGroup]="businessDetailForm"> 
  <div class="row">
    <div class="col-lg-6 lft_bg_img bg_img_2">
      &nbsp;
    </div>
    <div class="col-lg-6 rt_cont offset-lg-6">
      <div class="m_t_200">
        <h2 class="header_bar">Sign up your business</h2>
        <div class="header_para m_b_20">Enter your business details</div>
      </div>
      <div class="form-group float_label">
          <select class="custom-select" formControlName="country_of_incorporation" id="contryname">
              <option *ngFor="let x of countryData" [ngValue]="x.country_id">{{x.country_name}}</option>
         </select>
        <label for="COI">Country of incorporation</label>
      </div>

      <div class="form-group float_label">
        <input type="text" class="form-control" id="legalName" name="legalName" formControlName="business_legal_name" placeholder="&nbsp;">
        <label for="legalName">Legal name</label>
        <div class="text text-danger inpt_icn" *ngIf="businessDetailForm.controls['business_legal_name'].invalid && businessDetailForm.controls['business_legal_name'].dirty"><i class="fa fa-warning"></i></div>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="Tradename_chkbx"  (change)="showTradeContent=!showTradeContent;tredingNameclear()">
          <label class="form-check-label" for="Tradename_chkbx">
            My business has a trading name
          </label>
        </div>
      </div>
      <div class="form-group float_label" *ngIf="showTradeContent">
          <input type="text" class="form-control" id="tradName" name="tradName" formControlName="trading_name" placeholder="&nbsp;">
          <label for="tradName">Trading name</label>
      </div>
      <div class="form-group float_label">
        <input type="text" class="form-control" id="Rn" name="Rn" formControlName="registration_number" placeholder="&nbsp;">
        <label for="Rn">Registration number</label>
        <div class="text text-danger inpt_icn" *ngIf="businessDetailForm.controls['registration_number'].invalid && businessDetailForm.controls['registration_number'].dirty"><i class="fa fa-warning"></i></div>
     </div>
      <div class="text text-danger digits3"
      *ngIf="businessDetailForm.controls['registration_number'].invalid && businessDetailForm.controls['registration_number'].dirty">Please, make sure that you are using digits only when completing the Registration number.</div>
      
      <div class="form-group float_label">
        <input type="date" class="form-control" id="DOIC" formControlName="incorporation_date" name="DOIC"  [min]="minDOB" [max]="maxDOB" (change)="dobValidation($event)"  placeholder="&nbsp;">
        <label for="DOIC">Date of incorporation</label>
      </div>
      <div class="form-group float_label">
          <select class="custom-select" formControlName="business_type" id="contryname">
              <option *ngFor="let x of businessTypeData" [ngValue]="x.business_type_id">{{x.business_type_name}}</option>
         </select>
        <label for="COI">Business Type</label>
      </div>
      <button class="btn btn-primary" (click)="registerBusiness(businessDetailForm.value)"  [disabled]="businessDetailForm.invalid || validDOB">Continue</button>
    </div>
  </div>
  
</form>
</ng-template>
<ng-template [ngIf]="detailsCompltTemplate">
<div class="logo_container">
    <img src="../../../../assets/images/logo_white.png">
  </div>
  <div class="row">
    <div class="col-lg-6 lft_bg_img bg_img_2">
      &nbsp;
    </div>
    <div class="col-lg-6 rt_cont offset-lg-6">
      <div class="check_div">
        <img src="../../../assets/images/tick_icon.png">
      </div>
      <h2 class="header_bar">You have registered your company.</h2>
      <div class="header_para m_b_20">Now, it is time to activate your account.</div>
      <button class="btn btn-primary" (click)="LoginAction()">Continue</button>
    
    </div>
  </div>
</ng-template>
</div>
