<div class="row">
  <div class="col-md-6">
    <div class="card add_money_card">
      <div class="bank_details">
        <div class="bank_icn_cont"><i class="fa fa-bank"></i></div>
        <div class="bank_det_cont">
          <p>Expresso bank Ltd</p>
          <small>{{creditCardMask(CardDetails?.card_number)}}</small>
        </div>
      </div>
      <h6><b>Card Details</b></h6>
      <ul class="card_info">
        <li>
          <span>Card:</span>
          <div class="right">
               {{creditCardMask(CardDetails?.card_number)}}
          </div>
        </li>
        <li>
            <span>Name on card:</span>
            <div class="right">
              {{CardDetails?.name_on_card}}
            </div>
          </li>
        <li>
          <span>Provider:</span>
          <div class="right">
            Master Card
          </div>
        </li>
        <li>
          <span>Type:</span>
          <div class="right">
            {{CardDetails?.card_type}}
          </div>
        </li>
        <li>
          <span>Valid Until:</span>
          <div class="right">
            {{CardDetails?.card_month}}/{{CardDetails?.card_year}}
          </div>
        </li>
      </ul>
      <div class="row">
        <div class="col-md-6">
          <button class="btn btn-primary btn-block" routerLink="/home/add-money">Close</button>
        </div>
        <div class="col-md-6">
          <button class="btn btn-outline-danger btn-block" data-toggle="modal" data-target="#myModal">Delete</button>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-body">
        <div class="delete_card">
          <h3>Delete Card ?</h3>
          <p>This card will be removed from your top-up methods</p>
          <button class="btn btn-primary" data-dismiss="modal" aria-label="Close">Cancel</button>
          <!-- <button class="btn btn-warning-outline" data-toggle="modal" data-target="#confirm_delete" (click)="deleteCard()">Delete</button> -->
          <button class="btn btn-warning-outline"
            (click)="deleteCard()">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="modal fade" id="confirm_delete" role="dialog">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                    
                            <div class="modal-body">
                              <div class="delete_card">
                                <img src="../../../../assets/images/icons/delete_icon.png" alt="path not correct" />
                                <p>This card has been deleted</p>
                                <button class="btn btn-primary btn-block" (click)='confirmPopClose()'>Done</button>
                              </div>
                  </div>
            </div>
        </div>
 </div>
  
