
sources/services/node_modules/*
sources/services/otpServiceHandler/node_modules/*
sources/services/kycStatusIdNow/node_modules/*
sources/services/userRegistration/node_modules/*
sources/services/Authentication/node_modules/*
sources/services/userDetails/node_modules/*

sources/services/sendKycLink/node_modules/*
sources/services/Authentication/package-lock.json
sources/services/PayVooKycIdentId/node_modules/*
sources/services/.env
sources/services/package-lock.json
sources/Web/package-lock.json
sources/node_modules/*