<div class="container-fluid">
 <div class="page_header">
    <div class="header">
      Add Money
    </div>
    <ul>
      <li >Accounts</li>
      <li>Add Money</li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card add_money_card">
        <h3 class="card_header">How would you like to add money?</h3>
        <div class="addcard" routerLink="/home/add-money/cards">
          <div class="addcard_icn"><i class="fa fa-plus"></i></div>
          <span>Add debit or credit card</span>
        </div>
        <div class="transfer_Bank">
          <div class="addcard_icn"><i class="fa fa-bank"></i></div>
          <span>Transfer to your PayVoo account</span>
        </div>
        <ng-container *ngFor="let item of cardData">
        <div class="crd_card" *ngIf="(item.status == 1)" routerLink="/home/add-money/payments/{{item.payment_cards_id}}" routerLinkActive='active'> 
          <div class="info_btn" title="card info" routerLink="/home/add-money/card-details/{{item.payment_cards_id}}" routerLinkActive='active'  (click)="$event.stopPropagation()">
            <i class="fa fa-info-circle"></i>
          </div>
          <div class="crd_num_title">
            Card number
          </div>
          <div class="crd_num">
            <p>{{creditCardMask(item.card_number)}}</p>
            Expressor Bank LTD 
          </div>
          <div class="bnk_nme">
          </div>
          <div class="crd_type">
            <img src="../../../../assets/images/cards/mastercard.png" />
            <!-- <i *ngIf="item.card_type=='VISA'" class="card_type_cnt card_visa"></i> -->
            <!-- <i *ngIf="item.card_type=='mastercard'" class="card_type_cnt card_master"></i>
            <i *ngIf="item.card_type=='jcb'" class="card_type_cnt card_jcb"></i>
            <i *ngIf="item.card_type=='diners-club'" class="card_type_cnt card_dci"></i>
            <i *ngIf="item.card_type=='unionpay'" class="card_type_cnt card_unionpay"></i>  -->
          </div>
        </div>
      </ng-container>
      </div>
    </div>
    <div class="col-md-8">
      <router-outlet></router-outlet>
    </div>


  </div>
</div>


