@import "../../../../../styles.scss";

.page_container {
  padding: 15px 25px;
}

.card {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.16);
  border: none;
  border-radius: 4px;
  width: 100%;
  display: block;
}
.page_ht_crd {
  min-height: calc(100vh - 15%);
}

.acc_navbar {
  padding-bottom: 0px;
  border-bottom: 1px solid $color-primary;
  background-color: #ffffff;

  li.nav-item {
    width: 33.3333%;
    text-align: center;
    &:focus {
      outline: none;
      user-select: none;
    }

    a.nav-link {
      border-radius: 0px;
      &.active,
      &:hover,
      &:focus {
        background: #ffffff;
        border-bottom: 2px solid $color-secondary;
        opacity: 1;
        outline: none;
      }
    }
    a {
      margin-bottom: -1px;
      color: $font-color;
      font-weight: 600;
      opacity: 0.6;
      padding: 10px 30px;
      border-bottom: 2px solid transparent;
      cursor: pointer;
      &:focus,
      &:hover {
        border-bottom: 2px solid $color-secondary;
        outline: none;
        opacity: 1;
        background: #ffffff;
        color: $font-color-active;
      }
    }
  }
}

.exhng_cnt {
  h5 {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 30px 30px 0px 30px;
  }
  .lft_itm {
    display: inline-block;
    vertical-align: middle;
  }
  .curr_dd_lst {
    display: block;
    margin-bottom: -3px;
    select {
      border: none;
      color: $font-color-active;
      background: transparent;
      font-size: 1.2rem;
      font-weight: 600;
      width: 85px;
      padding-left: 0px;
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
    label {
      left: 0px;
    }
  }
  .bal {
    font-size: 0.825rem;
    color: $font-color;
  }
  .val_inpt {
    float: right;
    input {
      border: none;
      border-bottom: 2px solid $font-color;
      border-radius: 0px;
      font-size: 1.2rem;
      font-weight: 600;
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }
  .exchn_input {
    bottom:50px;
    position:relative;
  }
  .frm_acc,
  .to_acc {
    display: block;
    overflow: auto;
    padding: 40px 30px;
    &::after {
      content: "";
      clear: both;
      display: table;
    }
  }
  .to_acc {
    background: $body-background;
    margin-bottom: 20px;
  }
  .exhng_icons_cnt {
    position: relative;
    .exc_icn {
      width: 40px;
      height: 40px;
      display: block;
      border-radius: 50%;
      text-align: center;
      line-height: 36px;
      position: absolute;
      padding: 0px;
      left: 20px;
      top: -20px;
      border: 1px solid $font-color;
      color: $color-secondary;
      transform: rotate(90deg);
      background: #ffffff;
      user-select: none;
    }
    .exc_info {
      position: absolute;
      top: -20px;
      left: 50%;
      transform: translateX(-50%);
      border: 1px solid $font-color;
      padding: 5px 10px;
      border-radius: 30px;
      background: #ffffff;
      user-select: none;
    }
  }

  .btn_exchange {
    display: block;
    margin-bottom: 20px;
  }
}


.cnv_cntr {
  display: block;
  padding: 15px 10px;
  border-bottom: 1px solid #dadada;
  font-size: 1.125rem;
  font-weight: 600;
  overflow: auto;
  .lft_itm {
    display: inline-block;
    vertical-align: middle;
    padding-top: 10px;
  }
  .rt_itm {
    float: right;

    .float_label {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 0px;
    }
    .del_cntr {
      display: inline-block;
      vertical-align: middle;
      margin-left: 20px;
      width: 30px;
      height: 30px;
      border: 1px solid $color-danger;
      text-align: center;
      line-height: 27px;
      font-size: 16px;
      border-radius: 50%;
      padding: 0px;
      cursor: pointer;
    }
  }
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

.modal-content.ov_y_auto.cntry_lst_mdl {
  overflow-y: auto;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.page_container {
  padding: 15px 25px;
}

.additm {
  color: #246bad;
  padding: 15px 10px;
  cursor: pointer;
  .additm_icn {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #246bad;
    color: #ffffff;
    text-align: center;
    font-size: 1rem;
    line-height: 40px;
    margin-right: 20px;
  }
  border-bottom: 1px solid #dadada;
}
.page_ht_crd {
  min-height: calc(100vh - 15%);
}

.exhng_cnt {
  display: block;
  padding: none;
  margin-bottom: 20px;

  h5 {
    padding: 10px 20px;
  }
  .val_inpt {
    float: right;
    input {
      border: none;
      border-bottom: 2px solid $font-color;
      border-radius: 0px;
      font-size: 1.2rem;
      font-weight: 600;
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }
  .exhng_cur {
    display: block;
    // padding: 40px 20px;
    .eur_balance {
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      vertical-align: middle;
    }
    .currency_drop_list,
    .from_currency_list {
      display: inline-block;
      float: left;
      padding: 20px;
    }
  }
  .exchn_content {
    width: 20%;
  }
  .exhng_cur_icons {
    display: flex;
    flex-wrap: wrap;
    vertical-align: middle;
    position: absolute;
    top: 140px;
    left: 8px;
    .exhng_icon {
      transform: rotate(90deg);
      border: 1px solid #dee0e2;
      border-radius: 40px;
      padding: 8px;
      color: #3e52da;
      background: #ffff;
    }

    .exhng_rounded_circle {
      display: inline-block;
      flex-wrap: wrap;
      vertical-align: middle;
      position: -webkit-sticky;
      position: sticky;
      background: #ffff;
      color: #3e52da;
      border: 1px solid #e4e5e7;
      border-radius: 30px;
      padding: 3px 20px;
      margin-left: 50px;
      width: 150px;
      height: 35px;
      font-size: 12px;
      padding: 8px;
      text-align: center;
    }
    .exhng_cur_icons_space,
    .exhng_rounded_circle_space {
      display: inline-block;
      float: left;
      padding: 20px 42px;
    }
  }

  .usd_balance {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    vertical-align: middle;
    padding: 10px 0px;
    background-color: #f4f5f7;
  }

  .exhng_cur_icons1 {
    display: flex;
    flex-wrap: wrap;
    vertical-align: middle;
    position: absolute;
    // top: 119px;
    left: 8px;
  }
  .usd_balance1 {
    display: flex;
    flex-wrap: wrap;
    vertical-align: middle;
    padding: 40px 0px 20px 0px;
    background-color: #f4f5f7;
  }
  .botn_exhn {
    padding: 20px;
    vertical-align: middle;
  }
  .img_cnt {
    display: inline-block;
    vertical-align: middle;
  }
  .content_cnt {
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
  }
}

.exchn_content {
  margin-top: 20px;
}

.acc_navbar {
  padding-bottom: 0px;
  border-bottom: 1px solid $color-primary;
  background-color: #ffffff;

  li.nav-item {
    width: 33.3333%;
    text-align: center;
    &:focus {
      outline: none;
      user-select: none;
    }

    a.nav-link {
      border-radius: 0px;
      &.active,
      &:hover,
      &:focus {
        background: #ffffff;
        border-bottom: 2px solid $color-secondary;
        opacity: 1;
        outline: none;
      }
    }
    a {
      margin-bottom: -1px;
      color: $font-color;
      font-weight: 600;
      opacity: 0.6;
      padding: 10px 30px;
      border-bottom: 2px solid transparent;
      cursor: pointer;
      &:focus,
      &:hover {
        border-bottom: 2px solid $color-secondary;
        outline: none;
        opacity: 1;
        background: #ffffff;
        color: $font-color-active;
      }
    }
  }
}

.Search {
  margin-left: 0px;
}

.acc_lst {
  width: 100%;
  display: block;
  user-select: none;
  .acc_card {
    margin: 10px 15px;
    position: relative;
    padding: 20px 30px;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.16);
    border-bottom: 4px solid skyblue;
    .acc_title {
      font-size: 1rem;
      color: $font-color;
      font-weight: 500;
    }
    .acc_val {
      font-size: 1.75rem;
      font-weight: 600;
      color: $font-color-active;
      margin-top: 30px;
    }
    .acc_flag {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      position: absolute;
      right: 20px;
      top: 15px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    .acc_status {
      position: absolute;
      right: 20px;
      bottom: 10px;
      color: #ffffff;
      padding: 2px 15px;
      border-radius: 10px;
      font-size: 0.825rem;
      text-align: center;
      line-height: 14px;

      &.active {
        background: $color-success;
      }
    }
  }
}
.acc_lst.card_style {
  .acc_cont {
    width: 50%;
    display: inline-block;
    margin-left: -4px;
  }
}
#ser {
  width: 226px;
  margin-left: 42px;
  border-radius: 16px;
}
.ctry_cnt {
  margin-top: 20px;
  .ctry_lst {
    list-style: none;
    padding-left: 0px;
    li {
      border-bottom: 1px solid rgba(0, 0, 0, 0.16);
      padding: 10px 20px;
      cursor: pointer;

      .ctry_img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
      .ctry_crncy_cnt {
        display: inline-block;
        vertical-align: middle;

        .ctry_crncy {
          font-size: 1rem;
          font-weight: 600;
        }
        .ctry_title {
          font-size: 0.825rem;
          font-weight: 500;
        }
      }
    }
  }
}

.set-target {
  margin-left: 40px;
  border-radius: 30px;
  background-color: #f37221;
  margin-bottom: 4px;
  color: #fff;
}
.btn-outline-primary {
  color: #f37221;
  border-color: #f37221;
  border-radius: 10px;
}
.btn-outline-primary:hover {
  color: #fff;
  border: 1px solid #3e52da;
}
.setTargetCard {
  padding: 25px;
  box-sizing: border-box;
}
.setTargetButtons .btn {
  top: 15px;
  position: relative;
  width: 35%;
  margin: 5px;
  border-radius: 40px;
}
.modal-dialog {
  top: 60px;
  position: relative;
}
.paginationControl {
  text-align: center;
}
.ngx-pagination li {
  display: inline-block;
  padding: 10px;
}
.restriction::-webkit-inner-spin-button,
.restriction::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.rounded-circle {
  border-radius: 50% !important;
  top: -6px;
  position: relative;
}
.form-control {
  margin-left: 10px;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
  margin-left: 10px;
  bottom: 13px;
  position: relative;
}

.table td,
.table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: none;
  border-bottom: 1px solid #dee2e6;
}

//action list styles

.action_itm_cnt {
  display: block;
  border-bottom: 1px solid #dadada;
  padding: 15px 10px;
  .lft_itm {
    display: inline-block;
    vertical-align: middle;
  }
  .rt_itm {
    float: right;
    width: 30px;
    height: 30px;
    border: 1px solid $color-danger;
    color: $color-danger;
    text-align: center;
    line-height: 27px;
    font-size: 16px;
    border-radius: 50%;
    padding: 0px;
    cursor: pointer;
  }
  .action_icn {
    display: inline-block;
    vertical-align: middle;
    width: 35px;
    height: 35px;
    background: $font-color;
    color: #ffffff;
    border-radius: 50%;
    line-height: 34px;
    font-size: 1rem;
    text-align: center;
    margin-right: 20px;
  }
  .action_itm {
    display: inline-block;
    vertical-align: middle;
    h5 {
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: 5px;
    }
    p {
      font-size: 0.825rem;
      color: $font-color;
      margin: 0px;
    }
  }
}
.autoex-heading {
  margin-left: 100px;
}
.exhng_btnitm {
  margin-top: 20px;
  font-weight: 600;
  .img_cnt {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    margin: 0px;
  }
  .content_cnt {
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
    width: 70%;
    padding: 0 20px;
  }
}
.val_inpt {
  float: right;
  input {
    border: none;
    border-bottom: 2px solid $font-color;
    border-radius: 0px;
    font-size: 0.8rem;
    font-weight: 600;
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}
.exhng_btnitm {
  margin-top: 20px;
  font-weight: 600;
  .img_cnt {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    margin: 0px;
  }
  .content_cnt {
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
    width: 70%;
    padding: 0 20px;
  }
}
.Search {
  margin-left: 0px;
}

.cntry_lst_mdl {
  padding: 50px 30px;
  .close_crcl {
    position: absolute;
    right: 20px;
    top: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: $color-danger;
    color: #ffffff;
    border-radius: 50%;
    font-size: 1rem;
    padding: 0px;
  }

  .ctry_lst_title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 20px;
  }
}
.modal-dialog-slideout {
  min-height: 100%;
  margin: 0 0 0 auto;
  background: #fff;
}
.modal.fade .modal-dialog.modal-dialog-slideout {
  -webkit-transform: translate(100%, 0) scale(1);
  transform: translate(100%, 0) scale(1);
}
.modal.fade.show .modal-dialog.modal-dialog-slideout {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  display: flex;
  align-items: stretch;
  -webkit-box-align: stretch;
  height: 100%;
}
.modal.fade.show .modal-dialog.modal-dialog-slideout .modal-body {
  overflow-y: auto;
  overflow-x: hidden;
}
.modal-dialog-slideout .modal-content {
  border: 0;
}
.modal-dialog-slideout .modal-header,
.modal-dialog-slideout .modal-footer {
  height: 69px;
  display: block;
}
.modal-dialog-slideout .modal-header h5 {
  float: left;
}
.ctry_cnt {
  margin-top: 20px;
  .ctry_lst {
    list-style: none;
    padding-left: 0px;
    li {
      border-bottom: 1px solid rgba(0, 0, 0, 0.16);
      padding: 10px 20px;
      cursor: pointer;

      .ctry_img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
      .ctry_crncy_cnt {
        display: inline-block;
        vertical-align: middle;

        .ctry_crncy {
          font-size: 1rem;
          font-weight: 600;
        }
        .ctry_title {
          font-size: 0.825rem;
          font-weight: 500;
        }
      }
    }
  }
}
.cnv_cntr {
  display: block;
  padding: 15px 10px;
  border-bottom: 1px solid #dadada;
  font-size: 1.125rem;
  font-weight: 600;
  overflow: auto;
  .lft_itm {
    display: inline-block;
    vertical-align: middle;
    padding-top: 10px;
  }
  .rt_itm {
    float: right;

    .float_label {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 0px;
    }
    .del_cntr {
      display: inline-block;
      vertical-align: middle;
      margin-left: 20px;
      width: 30px;
      height: 30px;
      border: 1px solid $color-danger;
      text-align: center;
      line-height: 27px;
      font-size: 16px;
      border-radius: 50%;
      padding: 0px;
      cursor: pointer;
    }
  }
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}
.cnf_cnt {
  text-align: center;
  .cnf_title {
    font-size: 1.25rem;
    font-weight: 600;
  }
  .cnf_img_cnt {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
}


