<div class="container-fluid">
  <div class="logo_container">
    <img src="../../../../assets/images/logo_white.png">
  </div>
  <div class="row">
    <div class="col-lg-6 lft_bg_img bg_img_1">
      &nbsp;
    </div>
    <div class="col-lg-6 rt_cont offset-lg-6">
      <div class="dot_bar" *ngIf="progressBarFlag">
        <ul>
          <li [ngClass]="(step1==true)?value2:value1"></li>
          <li [ngClass]="(step2==true)?value3:value1"></li>
          <li [ngClass]="(step3==true)?value4:value1"></li>
          <li [ngClass]="(step4==true)?value5:value1"></li>
          <li [ngClass]="(step5==true)?value6:value1"></li>
        </ul>
      </div>
      <form id="user_form" [formGroup]="perSignUpFormm">
        <ng-template [ngIf]=emailFieldSet>
          <fieldset>
            <h2 class="header_bar">Enter your business email</h2>
            <p class="text text-danger" *ngIf="existEmailerror">{{existEmail}}</p>
            <div class="form-group float_label">
              <input type="email" class="form-control" (keypress)="removeError()" formControlName="email" id="email"
                name="email" placeholder="&nbsp;">
              <label for="email">Enter business email</label>
              <div class="text text-danger"
                *ngIf="perSignUpFormm.controls['email'].invalid && perSignUpFormm.controls['email'].touched">Please,
                enter a valid email.<div class="text text-danger inpt_icn"><i class="fa fa-warning"></i></div>
              </div>
            </div>
            <div>
              <small>Already have an account? <span class="txt_link" (click)="businessLogin()">Sign in</span></small>
            </div>
            <div class="row">
              <div class="col-md-6 offset-md-6">
                <button id="step1" class="next btn btn-primary m-t-50 btn-block"
                  [disabled]="perSignUpFormm.controls['email'].invalid" (click)="checkDuplicate()">Continue</button>
              </div>
            </div>

          </fieldset>
        </ng-template>
        <ng-template [ngIf]=passwordFieldSet>
          <fieldset>
            <h2 class="header_bar">Create a password</h2>
            <h5 class="header_para">The password should contain 8 characters which combine upper &amp; lowercase
              letters and numbers</h5>

            <div class="float_label">
              <input type="password" class="form-control" name="password" id="password" formControlName="password"
                placeholder="&nbsp;">
              <label for="password">Create a password</label>
              <button class="inpt_icn" type="button" onclick="showPassword()" (click)="showMyContainer=!showMyContainer"
                *ngIf="!showMyContainer">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </button>
              <button class="inpt_icn" type="button" onclick="hidePassword()" (click)="showMyContainer=!showMyContainer"
                *ngIf="showMyContainer">
                <i class="fa fa-eye-slash" aria-hidden="true"></i>
              </button>
            </div>



            <ul class="pass_checkers">
              <li [ngClass]="{'active':perSignUpFormm.controls['password'].errors.minLength}">
                <i class="fa fa-check"></i> Minimum 8 characters
              </li>
              <li [ngClass]="{'active':perSignUpFormm.controls['password'].errors.invalidPasswordAlpha}">
                <i class="fa fa-check"></i> Uppercase and lowercase
              </li>
              <li
                [ngClass]="{'active':perSignUpFormm.controls['password'].errors.invalidPasswordNumbers && !perSignUpFormm.controls['password'].errors.specialChara}">
                <i class="fa fa-check"></i> Letters and numbers
              </li>
            </ul>
            <div class="row m-t-50">
              <div class="col-md-6">
                <button name="previous" class="previous btn btn-outline-primary btn-block" id="back1"
                  (click)="emailFieldSetBack()">Previous</button>
              </div>
              <div class="col-md-6">
                <button id="step2" name="next" class="next btn btn-primary btn-block"
                  [disabled]="!perSignUpFormm.controls['password'].errors.minLength || !perSignUpFormm.controls['password'].errors.invalidPasswordAlpha || btnLoad
              || !perSignUpFormm.controls['password'].errors.invalidPasswordNumbers || perSignUpFormm.controls['password'].errors.specialChara" (click)="createEmailOTP()"><span
                    class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                    *ngIf="loader"></span>&nbsp;Continue</button>
              </div>
            </div>


          </fieldset>
          <p style="margin-top: 100px">By creating an account, you agree to the <a [href]=""
              style="color:#3b74b0; cursor: pointer;" (click)="businessTerms()">Business Terms of Service</a></p>
        </ng-template>
        <ng-template [ngIf]="passwordConfirmFieldset">
          <fieldset>
            <h2 class="header_bar">Confirm your business email</h2>
            <div class="form-group">
              <h5 class="header_para">A 6-digit code was sent to <span class="blue1"
                  (click)="backtoemail()">{{email.value}}</span></h5>
              <p *ngIf='emailOTPMessage' class="text text-danger">{{otpFailMsg}}</p>
              <p *ngIf='emailOTPMessage' class="text text-danger">{{emailotpReason}}</p>
              <input type="text" class="form-control" id="emailconfirm" name="opt" class="otp"
                formControlName="EmailOTP" minlength=6 maxlength=6>
              <div class="m_t_20">You can resend the code if it doesn't arrive in <span
                  id="pageBeginCountdownText">{{timer}}</span> sec</div>
              <a [href]="" id="emailResendLink" style="color: blue; cursor: pointer;" onclick="emailResendLink()"
                (click)="resendEmailOTP()">Resend
              </a>
            </div>
            <div class="row m-t-50">
              <div class="col-md-6 offset-md-6">
                <button name="next" id="step3" class="next btn btn-primary btn-block" (click)="verifyEmail()"
                  [disabled]="perSignUpFormm.controls['EmailOTP'].invalid">Continue</button>
              </div>
            </div>

          </fieldset>
        </ng-template>
        <ng-template [ngIf]="mobileNumberFieldSet">
          <fieldset>
            <h2 class="header_bar">Enter your mobile number</h2>
            <p class="text text-danger" *ngIf="existMobileerror">{{existMobile}}</p>
            <div class="form-group">
              <div class="input-group">
                <div class="float_label">
                  <select class="custom-select" formControlName="calling_code" id="countryid">
                    <option *ngFor="let item of countryData" [ngValue]="item.calling_code">{{item.calling_code}}
                    </option>
                  </select>
                  <label>Code</label>
                </div>
                <span class="float_label fltlbl_lft_fx">
                  <input type="text" class="form-control" (keypress)="mobileError()" required id="mobileno"
                    onkeypress="return AvoidSpace(event)" name="mobileno" placeholder="&nbsp;" formControlName="mobile"
                    minlength=5 maxlength=17>
                  <label for="mobileno">Enter your mobile number</label>
                  <div *ngIf="perSignUpFormm.controls['mobile'].invalid && perSignUpFormm.controls['mobile'].dirty"
                    class="text text-danger inpt_icn"><i class="fa fa-warning"></i></div>
                </span>
              </div>
              <div class="text text-danger"
                *ngIf="perSignUpFormm.controls['mobile'].invalid && perSignUpFormm.controls['mobile'].dirty">Please,
                enter
                a valid mobile number.</div>
            </div>
            <div class="row">
              <div class="col-md-6 offset-md-6">
                <button class="next btn btn-primary btn-block" (click)="createMobileOTP()" id="step6"
                  [disabled]="perSignUpFormm.controls['mobile'].invalid || perSignUpFormm.controls['calling_code'].invalid"><span
                    class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                    *ngIf="loader"></span>&nbsp;Continue</button>
              </div>

            </div>

          </fieldset>
        </ng-template>
        <ng-template [ngIf]="confirmMobileFeildSet">
          <fieldset>
            <h2 class="header_bar">Confirm your mobile number</h2>
            <div class="form-group">
              <h5 class="header_para">A 6-digit code has been sent to <span class="blue1" (click)="backtophone()">+
                  {{this.callingCode}} {{mobileNo}}</span></h5>
              <p *ngIf='mobileOTPMessage' class="text text-danger">{{otpFailMsg}}</p>
              <div *ngIf="disabledOnSuccessMobile">
                <input type="text" class="form-control" id="confirmnumber" name="otp" class="otp"
                  formControlName="mobileOTP" minlength=6 maxlength=6>
                <div class="m_t_20">You can resend the code if it doesn't arrive in <span
                    id="pageBeginCountdownText1">{{timer}}</span> sec</div><a [href]="" id="mobileResendLink"
                  style="color: blue; cursor: pointer;" onclick="mobileResendLink()" (click)="resendMobileOTP()">Resend
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 offset-md-6">
                <button name="next" class="next btn btn-primary btn-block" id="step7"
                  [disabled]="perSignUpFormm.controls['mobileOTP'].invalid"
                  (click)="verifyOTPAndSubmit(perSignUpFormm.value)">Continue</button>
              </div>

            </div>

          </fieldset>
        </ng-template>
        <ng-template [ngIf]="profilecompleteFeildSet">
          <fieldset>
            <div class="check_div">
              <img src="../../../../assets/images/tick_icon.png">
            </div>
            <h2 class="header_bar">You have completed your personal profile!</h2>
            <div class="header_para m_b_20">Now, let's set up your company profile</div>
            <div class="row">
              <div class="col-md-6">
                <button class="next btn btn-primary btn-block" (click)="chooseBusinessPlan()">Continue</button>
              </div>

            </div>

          </fieldset>
        </ng-template>
      </form>
    </div>
  </div>
</div>