<div class="container">
  <div class="additm" id="AddNew" data-toggle="modal" data-target="#createCurrency" (click)="getCountrydetails()">
    <div class="additm_icn">
      <i class="fa fa-plus"></i>
    </div>
    <span>Add Currency</span>
  </div>
  <div class="cnv_cntr" *ngFor="let exchCurrR of exchanCurrencyRes;let i=index">
    <div class="lft_itm">
      {{exchCurrR.to_currency}}
    </div>
    <div class="rt_itm">
      <div class="form-group float_label">
        <input type="text" appDecimal class="form-control" [(ngModel)]="exchCurrR.exchanged_amount"
          (keyup)="convertorValue(exchCurrR,$event)" name="exchanged_amount">
      </div>
      <div class="del_cntr" (click)="deleteCurrency(exchCurrR.check_rates_id)"  *ngIf="(exchCurrR.to_currency)!='EUR'">
        <i class="fa fa-trash-o cursor_pointer text-danger " aria-hidden="true" ></i>
      </div>
     
    </div>
  </div>
</div>
<!--Create currency -->
<div class="modal fade" id="createCurrency" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel4"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-slideout" role="document">
    <div class="modal-content ov_y_auto cntry_lst_mdl">
      <button type="button" class="close close_crcl" data-dismiss="modal" aria-label="Close">
        <i class="fa fa-times"></i>
      </button>
      <div class="modal-title ctry_lst_title" id="exampleModalLabel">Choose a country to add</div>
      <div class="input-group mb-3">
        <input type="text" class="form-control" name="key1" [(ngModel)]="searchText" placeholder="Search...">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button"><i class="fa fa-search"></i></button>
        </div>
      </div>
      <div class="ctry_cnt">
        <ul class="ctry_lst">
          <li *ngFor="let country of CountryDetails|filter:searchText" (click)="addAccount(country)" data-toggle="modal"
            data-target="#exampleModalCenter">
            <div class="ctry_img">
              <i class="flag_cont flag_cont_bulg" *ngIf="country.country_id==1"></i>
              <i class="flag_cont flag_cont_croatian" *ngIf="country.country_id==7"></i>
              <i class="flag_cont flag_cont_czech" *ngIf="country.country_id==9"></i>
              <i class="flag_cont flag_cont_danish" *ngIf="country.country_id==12"></i>
              <i class="flag_cont flag_cont_swedan " *ngIf="country.country_id==19"></i>
              <i class="flag_cont flag_cont_romania " *ngIf="country.country_id==31"></i>
              <i class="flag_cont flag_cont_euro" *ngIf="country.country_id==2"></i>
              <i class="flag_cont flag_cont_hungarian" *ngIf="country.country_id==21"></i>
              <i class="flag_cont flag_cont_polish" *ngIf="country.country_id==29"></i>
              <i class="flag_cont flag_cont_british" *ngIf="country.country_id==20"></i>
              <i class="flag_cont flag_cont_us" *ngIf="country.country_id==16"></i>
              <i class="flag_cont flag_cont_czech" *ngIf="country.country_id==5"></i>
              <i class="flag_cont flag_cont_us" *ngIf="country.country_id==35"></i>
            </div>
            <div class="ctry_crncy_cnt">
              <div class="ctry_crncy">{{country.country_name}}</div>
              <div class="ctry_title">{{country.country_code}}</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="cnf_cnt">
            <div class="cnf_title">
              Confirm adding account
            </div>
            <div class="cnf_img_cnt">
                <i class="flag_cont2x flag_cont_bulg" *ngIf="country_id_currency==1"></i>
                <i class="flag_cont2x flag_cont_croatian" *ngIf="country_id_currency==7"></i>
                <i class="flag_cont2x flag_cont_czech" *ngIf="country_id_currency==9"></i>
                <i class="flag_cont2x flag_cont_danish" *ngIf="country_id_currency==12"></i>
                <i class="flag_cont2x flag_cont_swedan " *ngIf="country_id_currency==19"></i>
                <i class="flag_cont2x flag_cont_romania " *ngIf="country_id_currency==31"></i>
                <i class="flag_cont2x flag_cont_euro" *ngIf="country_id_currency==2"></i>
                <i class="flag_cont2x flag_cont_hungarian" *ngIf="country_id_currency==21"></i>
                <i class="flag_cont2x flag_cont_polish" *ngIf="country_id_currency==29"></i>
                <i class="flag_cont2x flag_cont_british" *ngIf="country_id_currency==20"></i>
                <i class="flag_cont2x flag_cont_us" *ngIf="country_id_currency==16"></i>
                <i class="flag_cont2x flag_cont_czech" *ngIf="country_id_currency==5"></i>
                <i class="flag_cont2x flag_cont_us" *ngIf="country_id_currency==35"></i>
            </div>
            <form #cfb="ngForm">
              <p *ngIf="getCountrydetailsList"> Would to like to add {{getCountrydetailsList.country_name}} account</p>
              <div class="row">
                <div class="col-md-6">
                  <button type="button" class="btn btn-block btn-outline-primary" data-dismiss="modal">Cancel</button>
                </div>
                <div class="col-md-6">
                  <button (click)="CreateConverts(getCountrydetailsList)" class="btn btn-primary btn-block"
                    data-dismiss="modal">Confirm</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>