
    <div class="panel panel-default">
     <div class="panel-body">
      <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8" >
            <h4  style="margin:0;display:inline;">{{profileIfno.userInfo.first_name}} &nbsp; {{profileIfno.userInfo.last_name}}</h4>
            <p class="pull-right" style="display:inline;">KYC Status: <span class="text text-danger">{{KYCStatus}}</span></p>
            <hr>
          <div class="container" >
            <p style="margin:0;display:inline;">Mobile Number : <b>{{profileIfno.userInfo.mobile}}</b></p>
            <p style="display:inline;margin-left: 40px;">Email Id: <b>{{profileIfno.userInfo.email}}</b></p>
            <p style="display:inline;margin-left: 40px;">Gender: <b>{{profileIfno.userInfo.gender}}</b></p>
          </div>
           <hr>
          <ul class="container details" >
              <li><p>Account Type : <span class="glyphicon glyphicon-envelope one" style="width:50px;"></span>{{profileIfno.userInfo.account_type}}</p></li>
          </ul>
          <hr>
          <div class="col-sm-5 col-xs-6 tital " >Address Line 1 : <span>{{profileIfno.userInfo.address_line1}}</span></div>
          <div class="col-sm-5 col-xs-6 tital " style="margin-top: 10px;">Address Line 2 : <span>{{profileIfno.userInfo.address_line2}}</span></div>
          <hr>
          <div class="col-sm-5 col-xs-6 tital " >City/Town : <span>{{profileIfno.userInfo.city}}</span></div>
          <div class="col-sm-5 col-xs-6 tital " style="margin-top: 10px;">Region : <span>{{profileIfno.userInfo.region}}</span></div>
          <div class="col-sm-5 col-xs-6 tital " style="margin-top: 10px;">Postal Code : <span>{{profileIfno.userInfo.postal_code}}</span></div>
          <hr>
          <button type="button" class="btn btn-info pull-right" data-toggle="modal" data-target="#identId" (click)="SubmitForKYC()">Submit for KYC</button>
      </div>
</div>
</div>

<div class="modal fade" id="identId" role="dialog">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Identification</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="clearFlag()">&times;</button>
      </div>
      <div class="modal-body">
        <p>Install the PayVoo app on your smartphone or tablet.</p>
        <h3>1. Install the PayVoo app via email link.</h3> 
        <div *ngIf="smslinkBox">
           <div class="form-group">
            <label>Your Email:</label>
            <input type="text" class="form-control" readonly [(ngModel)]="profileIfno.userInfo.email">
            <small>The email link for the installation of the PayVoo app will be send to this email</small>
          </div> 
          <span>Send installation link to your registered email by clicking </span> &nbsp;&nbsp;&nbsp;
          <button [disabled]='isIdentId' (click)="KYClinkToMobile('android')"><img
              src="../../assets/images/androidicon.png" style=width:35px;;></button> or
          <button [disabled]='isIdentId' (click)="KYClinkToMobile('ios')"><img src="../../assets/images/iosicon.png"
              style=width:35px;;></button>
        </div>
        <div *ngIf="!smslinkBox">
          <p>The link with installation link was sent to {{profileIfno.userInfo.email}}</p>
        </div> 
        <p style="color:goldenrod">or</p>
      <span style="color:goldenrod">Install the PayVoo app directly via the playstore.</span> &nbsp;
       <img src="../../assets/images/googleplay.png" style=width:120px;> &nbsp;
        <img src="../../assets/images/appstore.png" style=width:120px;>
        <hr>
        <h3>2. Launch app and start identification</h3>
        <p>Open the PayVoo app on your smartphone and start the identification process with your Ident-ID.</p> 
       <div class="form-group">
          <label for="mobile">Your Ident-ID:</label>
          <div class="jumbotron text-center">
            <img src="../../assets/images/loader.svg" style="width: 35px;" *ngIf="identLoader">
            <h3 class="text-center" style="font-weight:bold;">{{identId}}</h3>
          </div>
          <small>Please always provide your Ident-ID for an identification</small>
        </div>
      </div> 
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> 
    </div>

  </div>
</div> -->