<div class="row">
  <ng-template [ngIf]="currAmountTmpl">
    <div class="col-md-6">
      <div class="card add_money_card">
        <form [formGroup]="amountTransForm">
          <h3 class="card_header">Choose currency and amount</h3>
          <div class="form-group float_label">
            <select class="custom-select" formControlName="currency" id="contryname" >
              <option value="" disabled>Choose currency</option>
              <option *ngFor="let x of currencyData" [ngValue]="x.currency">{{x.currency}}</option>
            </select>
            <label>Choose currency</label>
          </div>
          <div class="form-group float_label">
            <input type="text" class="form-control" formControlName="amount" placeholder="&nbsp;">
            <label>Enter Amount</label>
          </div>
          <small>Note: minimum top-up is €10</small>
          <div class="card_details_cont">
            <div class="addcard_icn">
              <i class="fa fa-bank"></i>
            </div>
            <div class="crd_det">
              <p>Expresso Bank LTD</p>
              <span>{{CardDetails?.card_type}} &nbsp;{{creditCardMask(CardDetails?.card_number) | slice:(-5)}}</span>
            </div>
          </div>
          <div class="panel-footer" *ngIf="hideCurrBtn">
            <div class="row">
              <div class="col-xs-6 col-md-6">
                <div class="form-group">
                  <button class="btn btn-outline-primary btn-block" routerLink="/home/add-money">Cancel</button>
                </div>
              </div>
              <div class="col-xs-6 col-md-6 pull-right">
                <div class="form-group">
                  <button class="btn btn-primary btn-block" (click)="addPaymentemp(amountTransForm.value)"
                    [disabled]="amountTransForm.invalid">Continue</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </ng-template>
  <ng-template [ngIf]="addPaymentemplate">
    <div class="col-md-6">
      <div class="card add_money_card">
        <form [formGroup]="currTransForm">
          <h3 class="card_header">Enter Card Verification Code</h3>
          <p><i class="fa fa-lock"></i> Card details are saved securely</p>
          <div class="panel-body">
            <div class="form-group float_label">
              <input type="text" class="form-control" formControlName="name_on_card" placeholder="&nbsp;" readonly>
              <label>Name on card</label>
            </div>
            <div class="form-group float_label">
                 <input type="text" class="form-control" formControlName="card_number" maxlength="19" minlength="16" placeholder="&nbsp;" readonly>
              <label>16-19 digits card number</label>
            </div>
            <div class="row">
              <div class="col-xs-4 col-md-6">
                <div class="form-group float_label">
                  <input type="text" class="form-control" formControlName="card_exp" readonly placeholder="&nbsp;" [validation]="true"  mask="00/0000">
                  <label>Expiry month(mm/yy)</label>
                </div>
              </div>
              <div class="col-xs-4 col-md-4 pull-right">
                <div class="form-group float_label">
                  <input type="text" class="form-control" id='cvv' maxlength="3" minlength="3" formControlName="card_cvv"
                    placeholder="&nbsp;">
                  <label>CVV</label>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <div class="row">
              <div class="col-xs-6 col-md-6">
                <div class="form-group">
                  <button class="btn btn-outline-primary btn-block" (click)="PreDiv()" *ngIf="!prevcurrTransForm">Cancel</button>
                </div>
              </div>
              <div class="col-xs-6 col-md-6 pull-right">
                <div class="form-group">
                  <button class="btn btn-primary btn-block" [disabled]="currTransForm.invalid || prevcurrTransForm"
                    (click)="AddCurrMoney(currTransForm.value)">  <span
                    class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                    *ngIf="loader"></span>&nbsp;Continue</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </ng-template>
</div>