<div class="container">
  <div class="additm" id="AddNew" data-toggle="modal" data-target="#createCurrency" (click)="getCountrydetails()">
    <div class="additm_icn">
      <i class="fa fa-plus"></i>
    </div>
    <span>Add Currency pair</span>
  </div>
  <div class="exchn_content">
    <div class="rates_cntr" *ngFor="let curr of ratesData| paginate:{itemsPerPage:5,currentPage:currentPage}">
      <div class="frm_cncy">
        1
        <span>{{curr.from_currency}}</span>
      </div>
      <div class="del_cntr" (click)="deleteRate(curr.check_rates_id)">
        <i class="fa fa-trash-o cursor_pointer text-danger " aria-hidden="true"></i>
      </div>
      <div class="to_cncy">
        {{curr.rates}}
        <span>{{curr.to_currency}}</span>
      </div>

    </div>
    
    <div class="paginationControl" >
      <pagination-controls (pageChange)="currentPage=$event" autoHide="true"></pagination-controls>
    </div>
  </div>

</div>
<!--Create currency -->
<div class="modal fade" id="createCurrency" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel4"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-slideout modal-sm" role="document">
    <div class="modal-content ov_y_auto">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Choose a country to add</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="ctry_cnt">
        <form [formGroup]="currencyFB">
          <div class="form-group">
            <label for="sel1">From Currency</label>
            <select formControlName="from_currency" class="form-control">
              <option *ngFor="let country of CountryDetails" [ngValue]="country.currency">
                {{country.currency}}
              </option>
            </select>

          </div>
          <div class="form-group">
            <label for="sel1">To Currency</label>
            <select formControlName="to_currency" class="form-control">
              <option *ngFor="let country1 of CountryDetails" [ngValue]="country1.currency">
                {{country1.currency}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-block" type="button" [disabled]="currencyFB.invalid" data-dismiss="modal" (click)="CreateRates()"> Add Currency </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
